<!--The content below is only a placeholder and can be replaced.-->
<h1 style="color: green;">Welcome to {{ title }}!</h1>
<form>
	<input type = 'text' value = "{{developerName}}"/><br><br> <!-- Interpolation -->
	<input type = 'text' [value] = "developerName"/><br><br> <!-- One way binding -->
	<input type = "text" bind-value = "developerName"/><br><br> <!-- bind syntax -->
	<input type = 'button' value = "Sample" [disabled] = "!isModified"/><br><br>
	<input type = 'button' value = 'Sample' disabled/>
	<hr/>
	Title : {{evilTitle}}<br><br>
	<span [innerHTML]="evilTitle"></span><br><br>
	<input type = "button" (click) = "onClick()" value = "Hit me..."/>
	<button on-click = "onClick()" >Hit me...</button><br><br>
	<img src="../assets/images/smiley1.png" (mouseover)="onMouse($event)" 
	(mouseout)="onMouse($event)" width="50" height="50">
	<br><br>
	Event Type : {{eventType}}
	<hr>
	<input type = "text" (keyup)="onKey($event)"/><br><br>
	KeyPressed = {{keys}}
	Value = {{value}}
	<hr>
	<input #text1 (keyup.enter)="0" (keyup)="onKey1(text1.value)"><br>
	<br>
	<p>{{text1.value}}</p>
</form>
<hr>
	<app-person></app-person>
<hr>


